{% extends 'onboarding/layout.html.twig' %}

{% block form %}
    {{ form_start(form) }}
    {{ form_row(form.cardNumber) }}
    {{ form_row(form.expirationDate) }}
    {{ form_row(form.cvv) }}
    <div class="d-flex justify-content-between mt-4">
        <a href="{{ path('onboarding', {'step': 'addressStep'}) }}" class="btn btn-secondary">
            Back
        </a>

        <button type="submit" class="btn btn-primary">
            Next
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}
